# Node
node_modules/

# Vite
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Misc
*.swo
*.swp
.idea/
.vscode/

# Build
/build/

# Others
*.log

.claude

__pycache__

*.sav
src/data-grabber/python/public/*.json
!src/data-grabber/python/public/example_mewgenics_cats.json