.relationship-graph {
	margin-top: 32px;

	.panel {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 16px;
		border: 1px solid var(--color-border-soft);
		border-radius: var(--radius-lg);
		background: var(--color-bg-page);
	}

	.relationship-graph-svg {
		max-width: 100%;
		height: auto;
	}

	.tooltip-close-area {
		cursor: pointer;
	}
}
